{% extends 'tournaments/base.html' %}

{% block content %}

<div class="container">
    <h1>The PLAYERS</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Group A</th>
                <th scope="col">Winnings</th>
                <th scope="col">Group B</th>
                <th scope="col">Winnings</th>
                <th scope="col">Group C</th>
                <th scope="col">Winnings</th>
                <th scope="col">Group D</th>
                <th scope="col">Winnings</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.pick_a }}</td>
                <td>{{ member.pick_a_winnings }}</td>
                <td>{{ member.pick_b }}</td>
                <td>{{ member.pick_b_winnings }}</td>
                <td>{{ member.pick_c }}</td>
                <td>{{ member.pick_c_winnings }}</td>
                <td>{{ member.pick_d }}</td>
                <td>{{ member.pick_d_winnings }}</td>
                <td>{{ member.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
